<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>935864221184-j2gd0qp33p8ieuj3rrf36n1eqjcgke1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935864221184-j2gd0qp33p8ieuj3rrf36n1eqjcgke1h</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Q3yLYaDPzjf_hA2iG-0D8TTH68GUk4w</string>
	<key>GCM_SENDER_ID</key>
	<string>935864221184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ladeezfirstmedia.mixology</string>
	<key>PROJECT_ID</key>
	<string>mixology</string>
	<key>STORAGE_BUCKET</key>
	<string>mixology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935864221184:ios:03a883c8dd86874f</string>
	<key>DATABASE_URL</key>
	<string>https://mixology-1bd1f.firebaseio.com</string>
</dict>
</plist>