.page {
  background-color: black;
  color: white;
  padding-top: 5;
}

.card {
  border-radius: 5;
  margin: 20;
  background: linear-gradient(to right top, #1e022b, #300246);
  height: 85%;
}

.page-title {
  text-align: center;
  font-size: 25;
  font-family: Quicksand
}
